html, body{
  overflow-x: hidden;
}
body {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
  color:#373738;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}
h2 {
  font-size:28px;
  font-weight: normal;
}
p {
  font-size:16px;
  line-height: 19px;
  font-weight: 100;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width:96%;
  float:left;
  position:relative;
  min-height: 1px;
  margin: 0 2% 20px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .one-half {
    width:46%;
  }
  .one-third {
    width:29.333333%;
  }
  .one-fourth {
    width:20%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-half {
    width:46%;
  }
  .one-third {
    width:29.333333%;
  }
  .one-fourth {
    width:21%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* HEADER */
header {
  color: #FFFFFF;
  background: url('../images/101 background-02-02.png') bottom center no-repeat, #373738;
  background-position: bottom center no-repeat;
}
header nav {
  padding:1em 0;
}
header nav ul{
  display:inline;
  text-align: right;
  float:right;
  margin:0;
}
header nav ul > li {
  list-style-type:none;
  display: inline-block;
  margin:0 15px;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #6724D0;
  border-radius: 4px;
}
header nav ul > li.btn-outline:hover {
  background:#6724D0;
}
header nav ul > li > a {
  color:#FFFFFF;
  text-decoration: none;
}
header .hero {
  text-align: center;
  display:block;
  position: relative;
  padding:0;
}
header .hero h1 {
  font-size:48px;
  font-weight:normal;
  margin:95px 0 0;
}
header .hero p {
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin:10px 0 40px;
}
header .hero img {
  display: block;
  margin:3em auto 0;
}
/* BUTTONS */
.btn {
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding:10px 30px;
  background: #6724D0;
  border: 2px solid #6724D0;
  box-shadow: 1px 2px 3px 0px #333333;
}
@media all and (max-width: 760px) {
  header .hero h1 {
    overflow-wrap: break-word;
    font-size: 2.4em;
  }
  header .hero p {
      font-size: 1.3em;
  }
  .hero img {
    float: none;
    width: 100%;
  }
  .one-half {
    text-align: center;
    float: center;
    margin: 0;
  }
  .one-half ul {
    float: none;
    margin: 0;
    padding: 0;
  }
  .site-logo {
    float: center;
    }
  }
}
@media screen (max-width: 992px) {
  .hero {
    width: 970px;
  }
  .one-half {
    text-align: center;
    float: center;
    margin: 0;
  }
  .one-half ul {
    float: none;
    margin: 0;
    padding: 0;
  }
}
@media screen (max-width: 1200px) {
  .hero {
    width: 1170px;
  }
}
/* BENEFITS */
.benefits {
  text-align: center;
  display:block;
  position:relative;
  background-color:#F8F8F8;
}
.benefits ul {
  margin: 0 auto;
  padding:4em 0;
}
.benefits i {
  color:#373738;
  font-size:60px;
  margin:0;
  vertical-align: middle;
}
.benefits ul li {
  list-style-type: none;
  display: inline-block;
}
.benefits h2 {
  color:#373738;
  text-align: center;
  padding: 1em 0;
  margin: 0;
}
/* TESTIMONIALS */
 .testimonials {
   padding:4em 0;
   background: url('../images/101 background-02-02.png') center, #FFFFFF;
   width: 100%;
   height:100%;
   background-position: center;
   text-align: center;
   font-family: "Nunito", Helvetica, Arial, sans-serif;
 }
 .testimonials h2 {
   color:#373738;
   text-transform: uppercase;
 }
 .testimonials ul li {
   list-style-type: none;
 }
 .testimonials blockquote {
   color:#373738;
   text-align: left;
   font-style: italic;
   background:#F8F8F8;
   position: relative;
   padding:30px;
   width:auto;
   margin:0;
 }
 .testimonials blockquote:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #F8F8F8;
   border-width: 10px;
   margin-left: -10px;
 }
 #lower {
   position: relative; top: 20px;
 }
 #lower:after {
   top: 100%;
   left: 13%;
   border: solid transparent;
   content: " ";
   height: 0;
   width: 0;
   position: absolute;
   pointer-events: none;
   border-top-color: #F8F8F8;
   border-width: 10px;
   margin-left: -10px;
 }
 .testimonials img {
   height: 65px;
   width: 65px;
   border-radius:50%;
   float: left;
   display: inline-block;
   margin:20px 10px 0 0;
 }
 .testimonials p.name {
   float: left;
   display: inline-block;
   text-align: left;
   font-size:13px;
   margin-top: 30px;
 }
/* PRICING */
.pricing {
  color: #373738;
  background: url('../images/101 background-02-02.png') bottom center repeat-x, #F8F8F8;
  width:100%;
  height:100%;
  background-position: center;
  text-align: center;
  padding:4em 0;
}
.pricing h2, .pricing p {
  color:#373738;
}
.pricing ul {
  margin:0 auto;
  padding:2em 0;
}
.pricing ul li {
  list-style-type:none;
}
.box {
  padding:0 15px 15px;
  background:#FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0,20);
  min-height: 439px;
  position: relative;
  margin-top: 25px;
}
.box.middle {
  min-height: 485px;
  margin-top:0px;
}
.box h3 {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  background:#00D0DB;
  color:#FFFFFF;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0,40);
  left:0;
  right:0;
  top:0;
  text-align: center;
  margin:0 -15px 40px;
  padding:10px 0;
}
.box h4 {
   font-size:50px;
   font-weight: normal;
   font-family: "Nunito", Helvetica, Arial, sans-serif;
   margin:40px 0 10px;
   color:#00D0DB;
 }
 .box h4 span {
   font-size:32px;
   vertical-align: top;
 }
.box h4 span.month {
   font-family: "Nunito", Helvetica, Arial, sans-serif;
   font-weight: 100;
   color:#373738;
   font-size:20px;
   vertical-align: middle;
 }
 .box ul li {
   font-size:18px;
   margin-bottom:20px;
   font-weight: 100;
 }
 .box .btn {
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
}
.small {
  font-size: 12px;
  color: #373738;
  line-height: 15px;
  font-style:italic;
}
/*SIGN UP*/
.sign-up {
  padding: 0 0 2em 0;
  text-align: center;
}
/* FOOTER */
 footer .container {
   background-color: #373738;
   color: #FFFFFF;
   position: relative;
   overflow: hidden;
   width:100%;
   z-index: 0;
   margin:0;
   padding: 10px;
 }
 footer p, footer nav ul {
   font-size:14px;
   font-weight:100;
   text-align: center;
   float: center;
   padding:0;
   margin:0;
 }
 footer nav ul li {
   list-style-type: none;
   display:inline;
   float: center;
 }
 footer nav ul li a {
   color:#FFFFFF;
   text-decoration: none;
 }
 footer .right-footer-block {
   background-color:#515151;
   height: 50px;
   float: right;
   margin: 0;
   padding: 10px;
 }
 footer .site-logo {
   float: center;
   text-align: center;

 }
 @media (min-width: 760px){
   footer{
     background-color: #373738;
   }
   footer p, footer nav ul{
     padding: 0.5em 0;
     text-align: center;
     display: block;
   }
   footer .right-footer-block {
     background-color: #515151;
     padding:0;
   }
   footer .site-logo {
     float:center;
     text-align:center;
     padding: 1em;
     margin: 0;
   }
   footer .link-block {
     float: center;
     text-align: center;
     padding: 0;
     margin: 0 auto;
   }
 }
 @media (min-width: 980px){
   footer{
     background-color: #373738;
     margin: 0;
   }
   footer p, footer nav ul{
     padding: 0.5em 0;
     text-align: center;
     display: inline-block;
     position: relative;
   }
   footer .right-footer-block {
     background-color: #515151;
   }
   footer .site-logo {
     padding: 0.35em 0.5em;
     display: inline-block;
     position: relative;
   }
 }
 /* COLUMNS */
.images h1 {
  margin: 20px 20px;
  text-align: center;
}
 .column {
    float: left;
    width: 23%;
    padding: 10px;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: " ";
    display: table;
    clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        width: 45%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}
/* DASHBOARD */
.dashboard {
   background:#373738;
   background: url('../images/101 background-02-02.png') right center repeat-y, #373738;
 }
 .left-nav {
   height: 100%;
   width: 280px;
   color: #29292A;
   position: absolute;
   -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px,0);
  -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
  -o-transform: translate(-280px,0); /** Opera **/
  -moz-transform: translate(-280px,0); /** Firefox **/
 }
 .left-nav.open {
  display:block;
  width:280px;
  background: #F8F8F8;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 100;
}
.hamburger {
   position:absolute;
   z-index: 1000;
   background:#6724D0;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   left: 5px;
   top: 15px;
 }
 .left-nav .site-logo {
   padding:20px 0;
   background:#515151;
   display:block;
   text-align: center;
 }
 .left-nav .items {
   padding:0 6%;
 }
 .left-nav .items p {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    color: #29292A;
    line-height: 15px;
  }
  .left-nav .items ul {
    margin:0 0 40px;
    padding:0;
  }
  .left-nav .items ul li {
    list-style-type: none;
    margin-bottom: 15px;
  }
  .left-nav .items ul li a {
    color:#29292A;
    text-decoration: none;
    font-weight: 100;
  }
  .left-nav .items ul li a:hover {
    color:#6724D0;
  }
}
#navlist li
{
list-style: none;
margin: 0;
display: inline;
}

#navlist li a
{
padding: 3px 0.5em;
margin-left: 3px;
border-bottom: none;
text-decoration: none;
}

#navlist li a:link { color: #6724D0; }
/*#navlist li a:visited { color: #667; }*/
  #navlist li a#current
{
background: #29292A;
border-bottom: 1px solid white;
color:#6724D0;
}
  .left-nav .items ul li a i {
    width:16px;
    text-align: center;
    margin-right:8px;
  }
  .left-nav .settings {
     position:absolute;
     background:#F8F8F8;
     width:100%;
     bottom:0;
     left:0;
     right:0;
     padding:10px 0;
   }
   .left-nav .settings img {
     height:35px;
     width:35px;
     border-radius: 50%;
     margin-left:10px;
     display: inline-block;
   }
   .left-nav .settings p {
     display: inline-block;
     vertical-align: top;
     padding-top: 8px;
     font-weight: 400;
     margin:0 0 0 10px;
   }
   .left-nav .settings a {
     color:#373738;
     text-decoration: none;
     text-align: right;
     float: right;
     margin-right:10px;
     margin-top:8px;
   }
   /* CONTENT */
 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:98%;
   position: relative;
 }
 .content .header {
   margin:0 1% 20px;
 }
 .content .header h1 {
   font-family: "Nunito", Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #00D0DB;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .header > a {
   float:right;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }
 /* Larger Mobile Devices */
  @media (min-width:460px) {
    .content {
      padding:1.5em 1%;
      float:right;
      width:90%;
      position: relative;
    }
    .content-item {
      width:46%;
      margin:0 2% 25px;
      float:left;
      display:block;
    }
    .left-nav .items .all a{
      background-color:#00D0DB;
    }
  }
  /* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:700px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
   .left-nav .site-logo img{
     max-width:95%;
   }
   .left-nav .items .all a{
     background-color:#00D0DB;
   }
 }
 /* Laptops and Desktops */
 @media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:14.66666667%;
     color:#29292A;
     background: #F8F8F8;
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     height:100vh;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }
 .left-nav .items .all a{
   background-color:#00D0DB;
 }
 .item-box > img {
  position:absolute;
  display:block;
  margin-left:auto;
  margin-right:auto;
  height:100%;
  width:auto;
  top:0;
  left:0;
  right:0;
}
.item-box h2 {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  margin:0;
}
.item-box h2 a {
  color: #6724D0;
  text-decoration: none;
}
.item-box h2 img {
  width:16px;
  height:16px;
  position:relative;
  top:2px;
  margin-right:5px;
}
.item-box p {
  font-size: 14px;
  color: #333333;
  line-height: 18px;
  margin:5px 0 0;
}
